.pokemonDetail {
    display: flex;
    flex-direction: column;
    height: 40%;
    padding: 0rem;
    border-radius: 1rem;
}

.DetailScreen {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    border-radius: 1rem;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.flexCollum {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 2rem;
}

.typesDetail {
        border-radius: 1rem;
        filter: brightness(1.3);
        display: flex;
}

.typesDetailLI {
    color: #fff;
    padding: .4rem .4rem;
    margin-right: 0.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    filter: brightness(0.9);
    text-align: center;
}



.buttonDetail {
	background:transparent;
	border-radius:15px;
    border:1px solid #fff;
	display:inline-block;
	cursor:pointer;
	color:#f2f2f2;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
}

.buttonDetail:active {
	position:relative;
	top:1px;
}

.headerDetail {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.numberDetail {
    color: white;
    font-size: medium;
    padding-right: 1.2rem;
}

.nameDetail {
    color: white;
    font-size: xx-large;
    margin-bottom: 10px;
}

.description{ 
    display: flex;
    align-items: center;
    color: #4d4d4d;
}

.description h5{
    margin-left: 0.3rem;
    color: black;
}

.descriptionLocation {
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
    color: black;
}

.detailContent {
    display: flex;
    flex-direction: column;
    background: white;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    margin: 0;
    height: 100%;
}

.detailImage {
    text-align: center;
    max-width: 100%;
    height: 150px;
}

.detailImage img{
    width: 100%;
    height: 120%;
    object-fit: contain;
    position: relative;
}


